<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/weatherforec.jpg">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>
        {{message}}
    </div>
    {{>footer}}
</body>

</html>