<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/weatherforec.jpg">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>
        <p>Hello, I created this weather app. I will add few more features and css, to make it <b>AMAZING</b></p>
        <img class="portrait" src="images/pp.jpg">
    </div>
    {{>footer}}
</body>

</html>